<%@episodes_previews.each do |episode| %>
  <% if episode[:preview] != 'NA' %>
    <div class="episode-preview">
      <form id="create-episode" action=<%="/users/#{@user.id}/shows/#{@show.id}/seasons/#{@season.id}/episodes"%> method="POST">
        <input type="hidden" name="episode[title]" value="<%="#{episode[:title]}"%>">
        <input type="hidden" name="episode[date]" value="<%="#{episode[:date]}"%>">
        <input type="hidden" name="episode[plot]" value="<%="#{episode[:plot]}"%>">
        <input type="hidden" name="episode[preview]" value="<%="#{episode[:preview]}"%>">
        <input type="hidden" name="episode[runtime]" value="<%="#{episode[:runtime]}"%>">
        <input type="hidden" name="episode[tv_episode]" value="<%="#{episode[:tv_episode]}"%>">
        <button type="submit" id="episode-video" border="0">
          <% if episode[:preview].include?('video') %>
            <video src="<%="#{episode[:preview]}"%>" width='300'></video>
          <% else %>
            <img src="<%="#{episode[:preview]}"%>" width='300'>
          <% end %>
        </button>
        <p class="episode-truncate"><%="#{episode[:title]}"%></p>
        <p id="episode"><%="Episode #{episode[:tv_episode]}"%></p>
      </form>
    </div>
  <% end %>
<% end %>
<div class="episode-preview">
  <form id="create-episode" action=<%="/users/#{@user.id}/shows/#{@show.id}/seasons/#{@season.id}/episodes"%> method="POST">
    <%@episodes_previews.each do |episode| %>
      <% if episode[:preview] != 'NA' %>
        <input type="hidden" name="episodes[][title]" value="<%="#{episode[:title]}"%>">
        <input type="hidden" name="episodes[][date]" value="<%="#{episode[:date]}"%>">
        <input type="hidden" name="episodes[][plot]" value="<%="#{episode[:plot]}"%>">
        <input type="hidden" name="episodes[][preview]" value="<%="#{episode[:preview]}"%>">
        <input type="hidden" name="episodes[][runtime]" value="<%="#{episode[:runtime]}"%>">
        <input type="hidden" name="episodes[][tv_episode]" value="<%="#{episode[:tv_episode]}"%>">
      <% end %>
    <% end %>
    <button type="submit" id="<%="#{@season.season}"%>" class="add-all">
      <span class="glyphicon glyphicon-plus"></span>
      <p>Add All Episodes</p>
    </button>
  </form>
</div>
<% if @episodes_previews.count == 0 %>
  <button type="submit" id="create-show" class="add-all"><span class="glyphicon glyphicon-plus"></span><p>Create New Show</p></button>
<% end %>
