<div id="meta-data">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% if session[:user_id] == user.id %>
      <a class="movie-edit" href=<%= "/users/#{user.id}/movies/#{movie.id}/edit" %>><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></a>
    <% end %>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-4 description-poster">
        <img src=<%= "#{movie.poster}" %> alt=<%= "#{movie.title} Poster" %>>
      </div>
      <div class="col-lg-8 description-details">
        <h2 class="modal-title"><%= movie.title %></h2>
        <p><%= movie.runtime %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= movie.year %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= movie.genre %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="description-rating"><%= movie.rating %></span></p>
        <p class="description-plot"><%= movie.plot %></p>
        <h4>Cast and Crew</h4>
        <hr/>
        <div class="col-lg-3">
          <h5>Starring</h5>
          <ul>
            <% movie.actors.split(", ").each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
          <% if !movie.director.empty? %>
            <% if movie.director.split(',').length > 1 %>
              <h5>Directors</h5>
            <% else %>
              <h5>Director</h5>
            <% end %>
            <ul>
            <% movie.director.split(", ").each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
          <% end %>
          <% if !movie.writer.empty? %>
            <% if movie.writer.split(',').length > 1 %>
              <h5>Screenwriters</h5>
            <% else %>
              <h5>Screenwriter</h5>
            <% end %>
            <ul>
            <% movie.writer.split(", ").each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
          <% if !movie.producer.empty? %>
            <% if movie.producer.split(',').length > 1 %>
              <h5>Producers</h5>
            <% else %>
              <h5>Producer</h5>
            <% end %>
            <ul>
            <% movie.producer.split(", ").each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
          <% end %>
          <% if movie.writer.empty? || movie.producer.empty? %>
            <p class="filler"></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
