<% @my_movies.each do |movie| %>
  <div class="index-preview text-center" id=<%="#{user.id}"%>>
    <a class="movie-modal" id=<%="#{movie.id}"%>><img class="lazy" data-original=<%= "#{movie.poster}" %> alt='<%="#{movie.title}" %> Poster' ></a>
    <p class="truncate"><%= movie.title %></p>
    <div class="pointer"></div>
    </div>
  </div>
<% end %>
