<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="row">
      <div class="col-lg-4 description-poster">
        <img src=<%= "#{movie.poster}" %> alt=<%= "#{movie.title} Poster" %>>
      </div>
      <div class="col-lg-8 description-details">
        <h2 class="modal-title"><%= movie.title %></h2>
        <div class="description-info">
          <span class="spacing"><%= movie.runtime %></span>
          <span class="spacing"><%= movie.year %></span>
          <span class="spacing"><%= movie.genre %></span>
          <span class="spacing" id="description-rating"><%= movie.rating %></span>
          <% if movie.hd == 4 %>
            <span class="spacing" id="description-hd">4K</span>
          <% elsif movie.hd == 1080 || 720 %>
            <span class="spacing" id="description-hd">HD</span>
          <% end %>
          <div id="ratings-container">
            <%= erb :'partials/_ratings', locals: {movie: movie} %>
          </div>
        </div>
        <p class="description-plot"><%= movie.plot %></p>
        <h4>Cast and Crew</h4>
        <hr/>
        <div class="col-lg-3">
          <h5>Starring</h5>
          <ul>
            <% movie.actors.split(/(?<!,),(?!\sJr\.)/).each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
          <% if !movie.director.empty? %>
            <% if movie.director.split(/(?<!,),(?!\sJr\.)/).length > 1 %>
              <h5>Directors</h5>
            <% else %>
              <h5>Director</h5>
            <% end %>
            <ul>
            <% movie.director.split(/(?<!,),(?!\sJr\.)/).each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
          <% end %>
          <% if !movie.writer.empty? %>
            <% if movie.writer.split(/(?<!,),(?!\sJr\.)/).length > 1 %>
              <h5>Screenwriters</h5>
            <% else %>
              <h5>Screenwriter</h5>
            <% end %>
            <ul>
            <% movie.writer.split(/(?<!,),(?!\sJr\.)/).each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
          <% if !movie.producer.empty? %>
            <% if movie.producer.split(/(?<!,),(?!\sJr\.)/).length > 1 %>
              <h5>Producers</h5>
            <% else %>
              <h5>Producer</h5>
            <% end %>
            <ul>
            <% movie.producer.split(/(?<!,),(?!\sJr\.)/).each do |line| %>
              <li><%= line %></li>
            <% end %>
          </ul>
          <% end %>
          <% if movie.writer.empty? || movie.producer.empty? %>
            <p class="filler"></p>
          <% end %>
        </div>
        <% if !movie.studio.empty? %>
        <div class="modal-studio">
          <h5>STUDIO</h5>
          <hr/>
          <p><%= movie.studio %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
