<div id="meta-data" style="width: 1386px;">
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <div id="info-header" class="row">
      <% if user.is_a?(User) && user == current_user %>
        <a class="show-edit" href=<%= "/users/#{user.id}/shows/#{show.id}/edit" %>><span class="glyphicon glyphicon-option-horizontal"></span></a>
      <% end %>
      <div class="col-lg-4 description-poster">
        <img src=<%= "#{season.poster}" %> alt=<%= "#{show.title} Poster" %>>
        <% if show.seasons.count == 1 && show.episode_count == 1 %>
          <p id="counts">1 season, 1 episode</p>
        <% elsif show.seasons.count == 1 && show.episode_count > 1 %>
          <p id="counts">1 season, <%= "#{show.episode_count}" %> episodes</p>
        <% elsif show.seasons.count > 1 && show.episode_count == 1 %>
          <p id="counts"><%= "#{show.seasons.count}" %> seasons, 1 episode</p>
        <% else %>
          <p id="counts"><%= "#{show.seasons.count}" %> seasons, <%= "#{show.episode_count}" %> episodes</p>
        <% end %>
      </div>
      <div class="col-lg-7 series-info">
        <h1><%= show.title %></h1>
        <% if show.seasons.count > 1 %>
          <p id="series-count"><%= "#{show.season_numbers} seasons" %></p>
        <% else %>
          <p id="series-count"><%= "Season #{show.season_numbers}" %></p>
        <% end %>
        <div class="series-details">
          <span class="spacing"><%= show.genre %></span>
          <span class="spacing"><%= show.year %></span>
          <% if show.rating == 'TV-G' %>
            <svg viewBox="0 0 35 15" height="15" xmlns="http://www.w3.org/2000/svg" class="spacing"><path d="M32.1.1a3.08 3.08 0 0 1 2.88 2.98c0 2.97.04 5.94 0 8.91a3.08 3.08 0 0 1-2.88 2.9c-9.73.15-19.47.15-29.2 0a3.08 3.08 0 0 1-2.88-2.97c0-2.97-.04-5.94 0-8.91A3.08 3.08 0 0 1 2.9.1c9.73-.15 19.47-.15 29.2 0zm-29.12.93A2.13 2.13 0 0 0 .94 3.1c0 2.96-.04 5.92 0 8.88a2.12 2.12 0 0 0 1.99 2c9.71.14 19.43.14 29.14 0a2.13 2.13 0 0 0 2-2.06c-.01-2.96.03-5.92 0-8.88a2.12 2.12 0 0 0-2-2c-9.7-.14-19.4 0-29.09 0z" fill="#b5b5b5"></path><path d="M8.2 11.4V4.94h2.32V3.59H4.24v1.35h2.3v6.46H8.2zm7.39 0l2.66-7.81h-1.8l-1.82 6.13h-.04l-1.8-6.13h-1.85l2.65 7.8h2zm6.76-2.44V7.58h-3.6v1.38h3.6zm8.4-.84v-.88h-3.32v1.19h1.72v.12a1.7 1.7 0 0 1-1.87 1.63c-1.32 0-2.16-1.04-2.16-2.73 0-1.66.79-2.64 2.1-2.64.82-.04 1.58.5 1.8 1.3h1.66a3.28 3.28 0 0 0-3.47-2.66c-2.32 0-3.77 1.52-3.77 4.02 0 2.54 1.45 4.07 3.8 4.07l.34.02a3.2 3.2 0 0 0 3.17-3.44z" fill="#b5b5b5"></path></svg>
          <% elsif show.rating == 'TV-PG' %>
            <svg viewBox="0 0 42 15" height="15" xmlns="http://www.w3.org/2000/svg" class="spacing"><path d="M3.05.06c12 0 23.99-.14 35.98 0 .53.03.7.08 1.03.21A3.09 3.09 0 0 1 41.96 3c.05 3 .05 6.01 0 9.02a3.12 3.12 0 0 1-3 2.92c-12 0-24 .16-36 0a3.12 3.12 0 0 1-2.93-2.92C0 9.01 0 6 .03 3A3.08 3.08 0 0 1 3.05.06zM2.99 1A2.15 2.15 0 0 0 .96 3.01c-.04 3-.04 5.99 0 8.98.05 1.08 1 2 2.08 2.01 12 0 23.98.16 35.97 0a2.15 2.15 0 0 0 2.03-2c.04-3 .04-5.99 0-8.98A2.15 2.15 0 0 0 39 .99C27.01.85 15 .84 3 1z" fill="#b5b5b5"></path><path d="M8.22 11.42v-6.5h2.32V3.57H4.27v1.35h2.3v6.5h1.65zm7.37 0l2.65-7.86h-1.8l-1.8 6.17h-.04l-1.8-6.17h-1.85l2.65 7.86h2-.01zm6.74-2.46V7.58h-3.59v1.39h3.6zm1.34-5.4v7.86h1.65V8.95h1.76a2.63 2.63 0 0 0 2.62-2.82 2.58 2.58 0 0 0-2.74-2.56h-3.29zm1.65 1.3h1.38a1.32 1.32 0 0 1 1.31 1.4v.1a1.33 1.33 0 0 1-1.5 1.3h-1.19V4.87zm12.4 3.26v-.88H34.4v1.2h1.72l-.01.12a1.7 1.7 0 0 1-1.86 1.63c-1.32 0-2.15-1.04-2.15-2.74 0-1.67.78-2.66 2.09-2.66.83-.04 1.58.51 1.8 1.31h1.66a3.28 3.28 0 0 0-3.47-2.67c-2.32 0-3.76 1.53-3.76 4.04 0 2.55 1.44 4.1 3.8 4.1h.32a3.2 3.2 0 0 0 3.18-3.45z" fill="#b5b5b5"></path></svg>
          <% elsif show.rating == 'TV-14' %>
            <svg viewBox="0 0 39 15" height="15" xmlns="http://www.w3.org/2000/svg" class="spacing"><path d="M3.03.06c10.8 0 21.6-.14 32.4 0 1.53.06 2.1.62 2.42.88.35.3 1.07 1.13 1.13 2.03.06 2.98 0 5.96 0 8.94-.04 1.81-2.03 2.93-3.56 2.99-10.82.13-21.65.14-32.47 0a3.1 3.1 0 0 1-2.92-2.92c-.04-3-.04-6 0-9a3.09 3.09 0 0 1 3-2.92zm-.06.93A2.14 2.14 0 0 0 .95 3c-.04 2.98-.04 5.97 0 8.96.05 1.08 1 2 2.08 2.01 10.79 0 21.58.13 32.37 0 1.24-.05 2.58-.86 2.65-2.02.06-2.98.06-5.96 0-8.94-.07-1.12-1.34-1.94-2.6-2.02h-.05C24.6.85 13.78.85 2.97.99z" fill="#b5b5b5"></path><path d="M8.11 11.42V4.94h2.3V3.58H4.17v1.36h2.3v6.48H8.1zm7.34 0l2.64-7.84h-1.8l-1.8 6.15h-.03l-1.8-6.15h-1.84l2.64 7.84h1.99zm6.71-2.45V7.59H18.6v1.38h3.57zm2.96 2.45h1.62V3.58h-1.63L23.08 5v1.48l2-1.38h.03v6.33zm7.13 0h1.56v-1.4h1.02v-1.3h-1.02V3.57H31.5a51.86 51.86 0 0 0-3.15 5.05v1.4h3.9v1.39zm-2.47-2.7c.74-1.38 1.56-2.7 2.47-3.98h.03v4.02h-2.5v-.04z" fill="#b5b5b5"></path></svg>
          <% elsif show.rating == 'TV-MA' %>
            <svg viewBox="0 0 44 15" height="15" xmlns="http://www.w3.org/2000/svg" class="spacing"><path d="M41.08.12a3.1 3.1 0 0 1 2.9 2.92c.03 2.97.03 5.95 0 8.92a3.09 3.09 0 0 1-2.9 2.92c-12.72.16-25.44.16-38.16 0a3.09 3.09 0 0 1-2.9-2.92C0 9 0 6.01.03 3.04A3.09 3.09 0 0 1 2.93.12c12.72-.16 25.44-.16 38.16 0zM3 1.04A2.14 2.14 0 0 0 .94 3.06c-.03 2.96-.03 5.92 0 8.88a2.14 2.14 0 0 0 2 2.02c12.7.16 25.41.16 38.11 0a2.14 2.14 0 0 0 2-2.02c.04-2.96.04-5.92 0-8.88a2.14 2.14 0 0 0-2-2.02C28.37.88 15.7 1.04 3 1.04z" fill="#b5b5b5"></path><path d="M8.4 11.28V4.83h2.3V3.5H4.46v1.34h2.3v6.45H8.4zm7.33 0l2.64-7.8h-1.79l-1.8 6.13h-.03l-1.8-6.12h-1.83l2.63 7.8h1.98zm6.71-2.43V7.47h-3.57v1.38h3.57zm9.64-5.36h-1.9l-2.23 5.53h-.05l-2.22-5.53h-1.9v7.8h1.46V6.01h.04l2.13 5.2h1.04l2.13-5.2h.04v5.26h1.46v-7.8zm6.46 7.8h1.74l-2.73-7.8h-1.93l-2.73 7.8h1.7l.59-1.9h2.76l.6 1.9zm-2-6.31h.03l1.02 3.2h-2.06l1.01-3.2z" fill="#b5b5b5"></path></svg>
        <% elsif show.rating == 'NR' %>
            <svg viewBox="0 0 69 15" height="15" xmlns="http://www.w3.org/2000/svg" class="spacing"><path d="M65.864 1.25c1.032 0 1.881.846 1.881 1.875v8.75a1.887 1.887 0 0 1-1.881 1.875H3.136a1.887 1.887 0 0 1-1.881-1.875v-8.75c0-1.029.849-1.875 1.881-1.875h62.728m0-1.25H3.136C1.416 0 0 1.411 0 3.125v8.75C0 13.589 1.416 15 3.136 15h62.728C67.584 15 69 13.589 69 11.875v-8.75C69 1.411 67.584 0 65.864 0z" fill="#b5b5b5"></path><path d="M6.805 11.247V6.143h.089l3.69 5.104h1.161v-7.5h-1.292v5.1h-.088l-3.69-5.1H5.508v7.5h1.297zm9.978-7.5c-2.17 0-3.543 1.442-3.543 3.75s1.347 3.756 3.543 3.756c2.18 0 3.527-1.452 3.527-3.756s-1.357-3.75-3.527-3.75zm0 1.135c1.326-.003 2.157 1.013 2.157 2.615 0 1.603-.829 2.621-2.16 2.621-1.351 0-2.175-1.025-2.175-2.621 0-1.595.847-2.618 2.178-2.618v.003zm8.171 6.365v-6.34h2.423v-1.16h-6.25v1.16h2.421v6.34h1.406zm7.46-6.387h1.463a1.2 1.2 0 0 1 1.328 1.187l-.002.071a1.166 1.166 0 0 1-1.296 1.25h-1.493V4.86zm0 3.577h1.438l1.419 2.81h1.481l-1.581-3.019a2.18 2.18 0 0 0 1.366-2.136c0-1.438-.955-2.345-2.476-2.345h-2.942v7.5h1.295V8.435v.002zm11.011 2.81h1.447l-2.682-7.5h-1.513l-2.675 7.5h1.363l.648-1.918h2.774l.638 1.918zm-2.063-6.072h.089l1.024 3.093h-2.148l1.035-3.093zm7.117 6.072v-6.34h2.289v-1.16h-5.899v1.16h2.283v6.34h1.327zm8.483-1.159h-3.477v-2.1h3.287V6.897h-3.287v-1.99h3.477v-1.16h-4.804v7.5h4.804v-1.159zm1.647-6.341v7.5h2.783c2.222 0 3.492-1.375 3.492-3.784 0-2.354-1.286-3.716-3.492-3.716h-2.783zm1.327 1.16h1.281c1.455 0 2.312.941 2.312 2.578 0 1.674-.838 2.605-2.312 2.605h-1.281V4.907z" fill="#b5b5b5"></path></svg>
          <% end %>
          <% if show.hd == 1080 %>
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="15" class="spacing"><path d="M2.74 0h20.52A2.73 2.73 0 0 1 26 2.73v9.54A2.73 2.73 0 0 1 23.27 15H2.73A2.73 2.73 0 0 1 0 12.27V2.73A2.73 2.73 0 0 1 2.74 0zm9.76 11.78V3.33h-1.77v3.43h-3.8V3.33H5.14v8.45h1.77V8.22h3.8v3.56h1.78zm1.4-8.45v8.45h3.27c2.53 0 4.03-1.58 4.03-4.26s-1.5-4.2-4.04-4.2h-3.25zm1.78 1.45h1.28c1.55 0 2.43.98 2.43 2.75 0 1.82-.85 2.78-2.43 2.78h-1.29V4.78z" fill="#b5b5b5" fill-rule="evenodd"/></svg>
          <% end %>
        </div>
        <div class="season-plot"><%= season.plot %></div>
      </div>
      <div class="col-lg-8">
        <div id="season-selector">
          <hr/>
          SEASON:
          <form id="season-default" action=<%="/users/#{user.id}/shows/#{show.id}/seasons/"%> method="POST">
            <% show.seasons.sorted_seasons.each do |s| %>
              <% if s.is_active %>
                <input class="season-submit" id="active-season" type="submit" name="season[:id]" value="<%="#{s.season}"%>">
              <% else %>
                <input class="season-submit" type="submit" name="season[:id]" value="<%="#{s.season}"%>">
              <% end %>
            <% end %>
          </form>
          <hr/>
        </div>
        <div class="episode-list">
          <% episodes.each do |e| %>
            <% if episodes[0].tv_episode == e.tv_episode %>
              <div class="col-lg-11 episode-description">
                <p class="tv-episode"><span>EPISODE <%= e.tv_episode %></span><span class="aired"><%= e.date %></p>
                <p class="episode-title"><%= e.title %></p>
                <p class="episode-runtime"><%= e.runtime %></p>
                <p class="plot-truncate"><%= e.plot %></p>
                <% if e.plot && e.plot.length > 130 %>
                  <p class="expand-plot">more</p>
                <% end %>
              </div>
            <% else %>
              <hr class="col-lg-12"/>
              <div class="col-lg-11 episode-description">
                <p class="tv-episode"><span>EPISODE <%= e.tv_episode %></span><span class="aired"><%= e.date %></p>
                <p class="episode-title"><%= e.title %></p>
                <p class="episode-runtime"><%= e.runtime %></p>
                <p class="plot-truncate"><%= e.plot %></p>
                <% if e.plot && e.plot.length > 130 %>
                  <p class="expand-plot">more</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
