<% @my_shows.each do |show| %>
  <div class="index-preview-show text-center" id=<%="#{user.id}"%>>
    <a class="show-modal" id=<%="#{show.id}"%>><img class="lazy" data-original='<%= "#{show.poster}" %>' src='<%= "#{show.poster}" %>' alt='<%="#{show.title}" %> Poster' width='200' height='200' style='display: inline-block !important;'></a>
    <p class="show-truncate"><%= show.title %></p>
    <p class="season">
      <% if show.seasons.count > 1 && show.seasons.count < 5 %>
        Seasons <%= show.season_numbers %>
      <% elsif show.seasons.count >= 5 %>
        <%= show.seasons.length %> seasons
      <% else %>
        Season <%= show.seasons[0].season %>
      <% end %>
    </p>
    <div class="show-pointer"></div>
  </div>
<% end %>
