<%@movie_previews.each do |movie| %>
  <% if movie[:poster] != 'NA' %>
    <div class="movie-preview">
      <form id="update-movie" action=<%="#{@route}"%> method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="movie[title]" value="<%="#{movie[:title]}"%>">
        <input type="hidden" name="movie[year]" value="<%="#{movie[:year]}"%>">
        <input type="hidden" name="movie[rating]" value="<%="#{movie[:rating]}"%>">
        <input type="hidden" name="movie[director]" value="<%="#{movie[:director]}"%>">
        <input type="hidden" name="movie[writer]" value="<%="#{movie[:writer]}"%>">
        <input type="hidden" name="movie[producer]" value="<%="#{movie[:producer]}"%>">
        <input type="hidden" name="movie[studio]" value="<%="#{movie[:studio]}"%>">
        <input type="hidden" name="movie[genre]" value="<%="#{movie[:genre]}"%>">
        <input type="hidden" name="movie[actors]" value="<%="#{movie[:actors]}"%>"></input>
        <input type="hidden" name="movie[plot]" value="<%="#{movie[:plot]}"%>"></input>
        <input type="hidden" name="movie[poster]" value="<%="#{movie[:poster]}"%>">
        <input type="image" id="poster" name="submit" src="<%="#{movie[:poster]}"%>" border="0" alt="<%="#{movie[:title]} Poster"%>">
        <p class="preview-truncate"><%="#{movie[:title]}"%></p>
        <p id="year"><%="#{movie[:year]}"%></p>
      </form>
    </div>
  <% end %>
<% end %>

